<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="media/games/game.png" width="40" height="40" class="d-inline-block align-top" alt="">
    ONLINE GAME STORE
  </a>
</nav>
<center><img src="{{games1.img.url}}" height="250" width="250"></center><br>
<p><i>{{games1.desc}}</i></p>
<a class="btn btn-warning" href="{% url 'update' games1.id %}">Update</a><br><br>
<a class="btn btn-danger" href="{% url 'delete' games1.id %}">delete</a><br><br>
</body>
</html>